* {
  font-family: Inter, Verdana, Tahoma, sans-serif;
  box-sizing: border-box;
}

html, body {
  max-height: 100vh;
  overflow: hidden; /* This line disables scrolling on body */
}

body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    linear-gradient(to right, #000, #436ebd, indigo, #000);
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: row;
  height: 100vh; /* full viewport height */
}

.left-column {
  position: sticky;
  top : 0;
  flex: 0.23;  /* Adjust this value as needed */
}

.left-column:after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px; /* Adjust as per your desired border thickness */
  bottom: 0;
  width: 20px; /* Adjust as per your desired border thickness */
  background: linear-gradient(to right, transparent, black, transparent);
}

.right-column {
  display: flex;
  overflow-y: auto; 
  flex: 0.77;  
  padding-left: 20px; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.right-column > div {
  max-width: 80%; /* or adjust as needed */
  width: 100%;
}

.container {
  margin: 1rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  color: white;
  background-color: #15171c;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: .8vh 1rem;
}

.nav .welcomeMessage {
  flex: 1;
  text-align: center;
}

.site-title {
  font-size: 2rem;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.welcome-message {
  color: white;
  font-size: 2rem;
  text-align: center;

}

.container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select-models {
  color: white;
  margin-top: 5vh;
}

.chosen-models {
  color: white;
  margin-top: 5vh;
  border: 1px solid white;
  padding: 5px;
  height: 100px; /* Adjust the height as necessary */
  overflow: auto; /* For scrollbar if content exceeds box height */
  margin-bottom: 20px; /* Add some space below this box */
}

